/* Cubic Bezier Transition */
.user-login-5 {
    min-height: 100vh;
}
.user-login-5 .bs-reset {
    padding: 0; 
    margin: 0;
}
.user-login-5 .text-right {
    text-align: right;
}
.user-login-5 .login-bg {
    min-height: 100vh; 

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.user-login-5 .login-logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em;
}
.user-login-5 .login-logo.login-6 {
    top: 80px;
    left: 80px;
}
.user-login-5 .login-container {
    position: relative;

    min-height: 100vh;
}
.user-login-5 .login-container > .login-content,
.user-login-5 .login-container .login-social,
.user-login-5 .login-container .login-copyright {
    padding: 0 80px;
}
.user-login-5 .login-container > .login-content {
    margin-top: 20%;
}
.user-login-5 .login-container > .login-content > h1 {
    font-size: 30px;
    font-weight: 300;

    color: #4e5a64;
}
.user-login-5 .login-container > .login-content p {
    font-size: 15px;
    line-height: 22px; 

    color: #a0a9b4;
}
.user-login-5 .login-container > .login-content > .login-form {
    margin-top: 80px;

    font-size: 13px; 

    color: #a4aab2;
}
.user-login-5 .login-container > .login-content > .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px; 

    font-size: 14px;

    color: #868e97;
    border: none;
    border-color: #a0a9b4;
    border-bottom: 1px solid;
}
.user-login-5 .login-container > .login-content > .login-form input:focus {
    outline: 0;
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password,
.user-login-5 .login-container > .login-content > .login-form .login-button {
    display: inline-block;
}
.user-login-5 .login-container > .login-content > .login-form .rem-password {
    margin-top: 10px;
}
.user-login-5 .login-container > .login-content > .login-form .rem-password > p {
    margin: 0;
}
.user-login-5 .login-container > .login-content > .login-form .rem-password > .rem-checkbox {
    border-color: #a4aab2;
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password {
    margin-right: 1em;
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password > a {
    color: #a4aab2;
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password > a:hover {
    text-decoration: none; 

    color: #337ab7;
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password > a:focus {
    text-decoration: none; 

    color: #a4aab2;
}
.user-login-5 .login-container > .login-footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding-bottom: 10px;
}
.user-login-5 .login-container > .login-footer .login-social {
    padding-right: 0;
}
.user-login-5 .login-container > .login-footer .login-social li {
    display: inline-block;
    margin-right: 1em; 

    list-style: none;
}
.user-login-5 .login-container > .login-footer .login-social a {
    font-size: 18px; 

    color: #a9b5be;
}
.user-login-5 .login-container > .login-footer .login-social a:hover {
    text-decoration: none; 

    color: #337ab7;
}
.user-login-5 .login-container > .login-footer .login-social a:focus {
    color: #a9b5be;
}
.user-login-5 .login-container > .login-footer .login-copyright {
    padding-left: 0;
    margin-top: 6px;
}
.user-login-5 .login-container > .login-footer .login-copyright > p {
    margin: 0;

    font-size: 13px;

    color: #a9b5be;
}
.user-login-5 .alert {
    margin-top: -60px;
}
.user-login-5 .form-group.has-error {
    border-bottom: 2px solid #ed6b75 !important;
}
.user-login-5 .form-group.valid {
    border-bottom: 1px solid #a0a9b4 !important;
}

@media (max-width: 1365px) {
    .user-login-5 .login-logo.login-6 {
        top: 40px;
        left: 40px;
    }
    .user-login-5 .login-container > .login-content,
    .user-login-5 .login-container .login-social,
    .user-login-5 .login-container .login-copyright {
        padding: 0 40px;
    }
    .user-login-5 .login-container .login-social {
        padding-right: 0;
    }
    .user-login-5 .login-container .login-copyright {
        padding-left: 0;
    }
}

@media (max-width: 1023px) {
    .user-login-5 {
        min-height: 50vh;
    }
    .user-login-5 .login-bg {
        min-height: 50vh;
    }
    .user-login-5 .login-logo.login-6 {
        position: relative;

        margin: 0 0 40px 0;
    }
    .user-login-5 .login-container {
        min-height: 50vh;
    }
    .user-login-5 .login-container > .login-content {
        margin-top: 60px;
    }
    .user-login-5 .login-container > .login-content .login-form {
        margin-top: 40px;
    }
    .user-login-5 .login-container .rem-password {
        margin-bottom: 1em;
    }
    .user-login-5 .login-container > .login-footer {
        position: relative;

        padding-bottom: 0; 
        margin-top: 40px;
    }
    .user-login-5 .login-container > .login-footer .login-social li {
        margin-right: .5em;
    }
    .user-login-5 .alert {
        margin-top: -20px;
    }
}

@media (max-width: 640px) {
    .user-login-5 .login-container > .login-content .text-right {
        text-align: left;
    }
}
