.label {
    margin-left: 40%;

    line-height: 2!important;
}
.page-header.navbar .page-logo .logo-default {
    margin: 6px 0 0 !important;
}
.no-des {
    font-size: 14px;
    font-weight: 200;

    opacity: 1;
    color: #fff;
}
.no-des strong {
    font-weight: 400;
}
.custom-visual {
    display: block;
    float: left;
    /* width: 80px; */
    height: 80px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;

    font-size: 35px;
    line-height: 35px;
}
.visual1:after {
    /*top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;*/
    z-index: 0;

    margin-left: -35px;

    font-family: FontAwesome;
    font-size: 110px;
    font-style: normal;
    font-weight: normal;

    content: "\f086";
    text-decoration: inherit;

    color: #48a2df;
}
.visual2:after {
    /*top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;*/
    z-index: 0;

    margin-left: -35px;

    font-family: FontAwesome;
    font-size: 110px;
    font-style: normal;
    font-weight: normal;

    content: "\f07a";
    text-decoration: inherit;

    color: #46cad6;
}