/*
* Base Template
* Combines HTML5 Boilerplate & Boostrap. Includes some basic templating.
* Authored by Stephen Shaw (shshaw@gmail.com)
*/

/* @group Basics */

/**,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #333333;
  font-weight: 400;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin: 0;
}

a {
  color: #da0d25;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #f22840;
  text-decoration: none;
}
p { margin: 0 0 20px; }

h1,
h2,{
  margin: 10px 0;
  font-weight: 500;
  line-height: 40px;
  color: inherit;
  text-align: center;
}
h1 small,
h2 small {
  font-weight: 400;
  line-height: 1;
  color: #8d8d8d;
}
h1 { font-size: 28px; }
h2 { font-size: 22px; }*/

/* @end */

/*.main-header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  background: #eee;
  padding: 1em;
}

.main-header__nav {
  border-top: solid 1px #ccc;
  margin: 1em -1em;
}

.main-header__nav a {
  display: block;
  padding: 0.5em 1em;
  border-bottom: solid 1px #ddd;
}

.main-header__nav a:hover,
.main-header__nav a:focus {
  color: #eee;
  background: #da0d25;
}*/

@media (max-width: 800px) {
  body { padding: 0; }

  .main-header {
    position: relative;
    width: 100%;
  }

  .main-header__nav a { display: inline-block; border: none; }
}

.intro {
  padding: 4em 2em;
}

.demo {
  padding: 6em 2em;
}

.demo h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 1em;
}

.demo .flipster {
  margin: 0 -2em;
}

.code {
  display: block;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
  margin: 2em auto;
  max-width: 30em;
  font-size: 0.8em;
  width: fit-content;
  white-space: pre-wrap;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  background-color: #da0d25;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  transition: all 300ms ease;
}

.button:hover,
.button:focus {
  color: #7a0715;
  background: #f22840;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 20px;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
} 

.hovereffect h2, .hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  height: 36%;
  width: 100%;
  position: absolute;
  top: 59%;
  left: 0%;
  padding: 30px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: rgba(0,0,0,0.4);
}



/*search design*/
.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 20px;
  width: 800px;
  height: 45px;
  cursor: I-beam;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius:10px !important;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140, 140, 140, 1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40, 40, 40, 0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:hover {
  width: 850px;
  opacity: 0.82;
  color: rgba(181, 181, 181, 1);
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:focus {
  width: 900px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255, 255, 255, 1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 25px/1 "amaranth", Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input:focus {
  outline: none;
}
.bottommargin{
  margin-bottom: 20px !important;
  border-radius: 9px !important;
}
.btncolor{
    /*background-color: #eff3f8 ;*/
    border-color: rgb(187, 189, 191) !important;
    color: rgba(68, 77, 88, 0.69) !important;
    margin
}

/*advanced search css*/
.advmargin{
  margin-top: 10px;
  margin-left: 15px;
}
.boarderradius{
      border-radius: 5px !important;
}
/*.gradient {
  background-image:
    radial-gradient(
      #eff3f8, 
      #444d58
    );
}*/
.textalign{
  text-align: left !important;
}
.advdesign{
     color: white !important;
margin-right: 15px !important;
background-color: #3598dc !important;
}

.user_search
{
  background-color: rgb(234, 239, 244) !important;
  border:1px solid #3598dc !important;
  border-radius: 15px !important;
}

.searchbox_user
{
  background-color: unset !important;
  border: none !important;
}

.spacing
{
  padding-left:16px;
}


.search-page .search-bar
{
  padding-left:24px !important;
}


/*owl next prev*/

.mainslider_nav {
    position: absolute;
    top: calc(50% - 22.5px);
    z-index: 999;
    width: 100%;
}

.typecontainer{
   margin-top: 30px;
}
.typecontainerinner{
  margin-left: 10px;
}
.labelmargin{
    padding-top: 5px;
    font-size: 14px;
    color: #888;
    text-align: right;
}
.leftmargin{
  margin-left: 10px !important;
  margin-right: 10px !important;
}