#fountainG{
  position:relative;
  width:234px;
  height:28px;
  margin:auto;
  top: 137px;
  z-index: 10;
}

.fountainG{
  position:absolute;
  top:0;
  background-color:rgb(105,174,179);
  width:28px;
  height:28px;
  animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
  animation-duration:2.08s;
    -o-animation-duration:2.08s;
    -ms-animation-duration:2.08s;
    -webkit-animation-duration:2.08s;
    -moz-animation-duration:2.08s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
  border-radius:19px !important;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#fountainG_1{
  left:0;
  animation-delay:0.83s;
    -o-animation-delay:0.83s;
    -ms-animation-delay:0.83s;
    -webkit-animation-delay:0.83s;
    -moz-animation-delay:0.83s;
}

#fountainG_2{
  left:29px;
  animation-delay:1.04s;
    -o-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
}

#fountainG_3{
  left:58px;
  animation-delay:1.25s;
    -o-animation-delay:1.25s;
    -ms-animation-delay:1.25s;
    -webkit-animation-delay:1.25s;
    -moz-animation-delay:1.25s;
}

#fountainG_4{
  left:88px;
  animation-delay:1.46s;
    -o-animation-delay:1.46s;
    -ms-animation-delay:1.46s;
    -webkit-animation-delay:1.46s;
    -moz-animation-delay:1.46s;
}

#fountainG_5{
  left:117px;
  animation-delay:1.66s;
    -o-animation-delay:1.66s;
    -ms-animation-delay:1.66s;
    -webkit-animation-delay:1.66s;
    -moz-animation-delay:1.66s;
}

#fountainG_6{
  left:146px;
  animation-delay:1.87s;
    -o-animation-delay:1.87s;
    -ms-animation-delay:1.87s;
    -webkit-animation-delay:1.87s;
    -moz-animation-delay:1.87s;
}

#fountainG_7{
  left:175px;
  animation-delay:2.08s;
    -o-animation-delay:2.08s;
    -ms-animation-delay:2.08s;
    -webkit-animation-delay:2.08s;
    -moz-animation-delay:2.08s;
}

#fountainG_8{
  left:205px;
  animation-delay:2.29s;
    -o-animation-delay:2.29s;
    -ms-animation-delay:2.29s;
    -webkit-animation-delay:2.29s;
    -moz-animation-delay:2.29s;
}



@keyframes bounce_fountainG{
  0%{
  transform:scale(1);
    background-color:rgb(124,230,216);
  }

  100%{
  transform:scale(.3);
    background-color:rgb(0,0,0);
  }
}

@-o-keyframes bounce_fountainG{
  0%{
  -o-transform:scale(1);
    background-color:rgb(124,230,216);
  }

  100%{
  -o-transform:scale(.3);
    background-color:rgb(0,0,0);
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
  -ms-transform:scale(1);
    background-color:rgb(124,230,216);
  }

  100%{
  -ms-transform:scale(.3);
    background-color:rgb(0,0,0);
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
  -webkit-transform:scale(1);
    background-color:rgb(124,230,216);
  }

  100%{
  -webkit-transform:scale(.3);
    background-color:rgb(0,0,0);
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
  -moz-transform:scale(1);
    background-color:rgb(124,230,216);
  }

  100%{
  -moz-transform:scale(.3);
    background-color:rgb(0,0,0);
  }
}
