.label {
    line-height: 2!important;
}
.book-margin{
	width: 110px !important;
	height: 144px !important;
}
.book-padding{
	padding: 0px !important;
	margin: 7px 20px 30px 30px !important;
}
.modal-padding{
	padding-left: 40px;
	padding: 50px;
}
.footer-margin{
	padding-right: 15px;
}
.header-bg{
	background-color: #219e9a;
}
.header-font{
	color: white;
}
.content-margin{
	margin-top: 15px 
}
.type_container{
    margin-top: 30px;
    padding: 23px 20px 23px !important;
}
.search-btn{
	overflow: visible;
	position: relative;
	margin-left: 25px !important;
	margin-top: 0 !important;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 55px !important;
	width: 150px !important;
	font: bold 15px/40px 'Raleway', sans-serif;
	color: #fff;
	text-transform: uppercase;
	background: #009688;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.search-btn:hover{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.alert-fix{
	position:fixed; 
    top: 100px; 
    width: 95%;
    z-index:9999; 
    border-radius:0px
}