/*
* Base Template
* Combines HTML5 Boilerplate & Boostrap. Includes some basic templating.
* Authored by Stephen Shaw (shshaw@gmail.com)
*/

/* @group Basics */








/* @end */



@media (max-width: 800px) {
  body { padding: 0; }

  .main-header {
    position: relative;
    width: 100%;
  }

  .main-header__nav a { display: inline-block; border: none; }
}

.intro {
  padding: 4em 2em;
}

.demo {
  padding: 6em 2em;
}

.demo h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 1em;
}

.demo .flipster {
  margin: 0 -2em;
}

.code {
  display: block;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
  margin: 2em auto;
  max-width: 30em;
  font-size: 0.8em;
  width: fit-content;
  white-space: pre-wrap;
}

/*.button {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  background-color: #da0d25;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  text-shadow: none;
  vertical-align: middle;
  
  border: 0;
  transition: all 300ms ease;
}
*/
/*.button:hover,
.button:focus {
  color: #7a0715;
  
}*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 20px;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
} 

.hovereffect h2, .hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  height: 36%;
  width: 100%;
  position: absolute;
  top: 59%;
  left: 0%;
  padding: 30px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: rgba(0,0,0,0.4);
}



/*search design*/
.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*margin-left: 20px;*/
  width: 800px;
  height: 45px;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140, 140, 140, 1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /*background: rgba(40, 40, 40, 0.4);*/
  background-color: #eff3f8;
  border: solid 1px #8ca0bf;
  
 
}


@media (min-width: 1200px){

  .button:focus {
    width: 900px;
    cursor: text;
    padding: -13px 20px 0;
    color: rgba(140, 140, 140, 1);
    -webkit-transition: all .6s;
    -moz-transition:all .6s;
    -o-transition: all .6s;
    transition: all .4s ease-out;
    background-color: #eff3f8;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  }
}
@media (max-width: 1200px){
  .button ,.tt-menu{
    width: 600px!important;
  }
}
@media (max-width: 992px){
  .button, .tt-menu{
    width: 500px!important;
  }
}
@media(max-width: 768px){
  .button, .tt-menu{
    width: 400px!important;
  }
  .sm-bottom-margin{
    margin-bottom: 15px;
  }
}
@media(max-width: 636px){
  .button, .tt-menu{
    width: 300px!important;
  }
}
@media(max-width: 536px){
  .button, .tt-menu{
    width: 190px!important;
  }
}
@media (max-width: 536px){
.button ,.tt-menu{
    width: 100%!important;
}
.text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 25px/1 "amaranth", Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input:focus {
  outline: none;
}
.bottommargin{
  margin-bottom: 20px !important;
  border-radius: 9px !important;
}
.btncolor{
    /*background-color: #eff3f8 ;*/
    border-color: rgb(187, 189, 191) !important;
    color: rgba(68, 77, 88, 0.69) !important;
    margin
}

/*advanced search css*/
.advmargin{
  margin-top: 0px;
  margin-left: 5px;
}
.boarderradius{
      border-radius: 5px !important;
}
/*.gradient {
  background-image:
    radial-gradient(
      #eff3f8, 
      #444d58
    );
}*/
.advdesign{
     color: white !important;
margin-left: 40px !important;
background-color:#536dfe !important;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4) !important;
border-radius: 25px !important;
border-color:none;
width:165px !important;
}

.user_search
{
  margin-left: 0px !important;
  background-color: rgb(234, 239, 244) !important;
  border:1px solid #3598dc !important;
  border-radius: 25px !important;
}

.searchbox_user
{
  background-color: unset !important;
  border: none !important;
  padding-left: 15px !important;
}
/*
.spacing
{
  padding-left:16px;
}

*//*
.search-page .search-bar
{
  padding-left:24px !important;
}*/


/*owl next prev*/

.mainslider_nav {
    position: absolute;
    top: calc(50% - 22.5px);
    z-index: 999;
    width: 100%;
}
.twitter-typeahead{
  width: 100%;
}
