/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    padding: 0;
    margin: 1em 0;

    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    padding: 0;
    margin: 0;

    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    padding: .2em 0;
    margin: .2em 0;

    color: #000;
    background: #ccc;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*a,
a:visited {
    text-decoration: none;

    color: white;
}
a:hover {
    text-decoration: underline;
}
*/


.shelf {
    position: relative;
    z-index: 0;

    width: auto;
    height: 212px;
    max-width: 100%;
    padding: 20px 0;
    margin: 0 auto;

    background: url(../img/wood10.jpg) no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,.5);
}
.shelf:after {
    position: absolute;
    bottom: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 37px;

    content: "";

    background: red;
    background: url(../img/bookshelf.png) top left repeat-x;
    background-size: 555px 80px;
}

.shelf.owned:before,
.shelf.wanted:before {
    position: absolute;
    top: 2px;
    left: 2px;

    padding: 5px 10px;

    content: "";

    color: white;
    background: #32c5d2;
    box-shadow: 0 0 3px 1px #444;
}

.shelf.wanted:before {
    content: "Latest Books";
}

.shelf.owned:before {
    content: "Featured Books";
}

.shelf:nth-child(3n).owned:before {
    content: "More books I own";
}

.shelf h2 {
    padding: 10px 0;
    margin: 0;

    color: #eee;
}

/*.books,
.shelf:after {
    width: 555px;
}*/


.books {
    position: relative;
}

.book {
    position: relative;
    z-index: 1;

    float: left;
    width: 119px;
    height: auto;
    padding: 0;
    margin-left: -30px;
    overflow: hidden;

    list-style: none;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    -webkit-transform: perspective(500px) rotateY(22deg) scale(.9);
       -moz-transform: perspective(500px) rotateY(22deg) scale(.9);
        -ms-transform: perspective(500px) rotateY(22deg) scale(.9);
         -o-transform: perspective(500px) rotateY(22deg) scale(.9);
            transform: perspective(500px) rotateY(-22deg) scale(.9);

    box-shadow: -2px 0 -1px #444,-4px 0 -2px #444,-6px 0 -3px #444,-8px 0 -4px #444,-10px 0 -5px #444;
}



.no-csstransforms .book {
    margin-left: 0;
}

.books .book:first-child {
    margin-left: 0;
}

.book:hover {
    z-index: 5;

    -webkit-transform: perspective(500px) rotateY(0deg) scale(1);
       -moz-transform: perspective(500px) rotateY(0deg) scale(1);
        -ms-transform: perspective(500px) rotateY(0deg) scale(1);
         -o-transform: perspective(500px) rotateY(0deg) scale(1);
            transform: perspective(500px) rotateY(0deg) scale(1);

    box-shadow: none;
}

.book:hover + .book {
    margin-left: -10px;
}
.no-csstransforms .book:hover + .book {
    margin-left: 0;
}

.book .front {
    display: block;
}

.book img {
    width: 320px;
    height: auto;
}

.book .back {
    position: absolute;
    top: 100%;

    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;

    font-size: 10px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    color: #dedede;
    background: rgba(0,0,0,.6);
}

.no-rgba .book .back {
    background: #444;
}

.book:hover .back {
    margin-top: -40px;
}

.book:hover .back:hover {
    top: 0;

    margin-top: 0;

    background: rgba(0,0,0,.8);
}

.no-rgba .book:hover .back:hover {
    background: #444;
}

.book img {
    position: relative;

    width: 117px;
    height: 159px;
}


.title {
    padding: 0;
    margin: 0;
}

.description {
    margin: 0;
}

.rating ol {
    padding: 0;
    margin: 0;

    font-size: 20px;
}

.rating li {
    float: left;
    width: 20%;
    padding: 0;
    margin-bottom: 5px;

    list-style: none;

    text-align: center;

    color: rgba(255,255,255,.4);
    box-shadow: 0;
}
/* Always color the first */
.rating ol li:first-child {
    color: #e6db74;
    text-shadow: 0 0 4px #fff;
}
/* First + second */
.star-2 li:nth-child(2) {
    color: #e6db74;
    text-shadow: 0 0 4px #fff;
}
/* First + second and third */
.star-3 li:nth-child(2),
.star-3 li:nth-child(3) {
    color: #e6db74;
    text-shadow: 0 0 4px #fff;
}

/* all, but the last */
.star-4 li {
    color: #e6db74;
    text-shadow: 0 0 4px #fff;
}
.star-4 li:last-child {
    color: rgba(255,255,255,.7);
    text-shadow: none;
}
/* ALL */
.star-5 li {
    color: #e6db74;
    text-shadow: 0 0 4px #fff;
}

.p10 {
    padding: 10px;
}

.description {
    font-size: 10px !important;
}

.back a {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 5px;

    text-decoration: none;

    color: #e6db74;
}

footer.center {
    padding: 20px;
    margin-top: 50px;

    border: 1px solid #999;
    background-color: #efefef;
}

.center {
    max-width: 400px;
    margin: 0 auto 20px auto;
}
.justify {
    text-align: justify;
}

/* RETINA GRAPHICS (multiple device/types support!) */
@media (min--moz-device-pixel-ratio: 1.3),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {
    .shelf:after {
        background-image: url(../img/bookshelf.png);
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    overflow: hidden;

    border: 0;
    background-color: transparent;
    /* IE 6/7 fallback */

    *text-indent: -9999px;
}

.ir:before {
    display: block;
    width: 0;
    height: 100%;

    content: "";
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;

    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    display: table; /* 2 */

    content: " "; /* 1 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;

        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: .5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*
.portlet.light.bordered {
    border: none !important;
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,.5);
}*/
ul.books {
    padding-left: 30px;
}

/* custom */



.page-header-menu {
    height: 106px !important;

    background-color: #eff3f8 !important;
}
@media(max-width: 991px){
    .page-header-menu {
        height: 234px !important;
    }
}


/*Rolling Menu */

.menu-section {
    width: 1000px;
    margin: 20px auto;
}


.cc-rockmenu {
    float: left;
    width: 100%;

    text-align: center;

    color: #fff;
}

.cc-rockmenu .rolling {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 25px;
    overflow: hidden;

    cursor: pointer;
    transition: all .3s ease-out;
    white-space: nowrap;

    border-radius: 125px !important;
    background: white;
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,.5);
}
.cc-rockmenu .rolling:hover {
    width: 235px;

    border: 1px solid #009688;
}
.cc-rockmenu .rolling .rolling_icon {
    z-index: 9;

    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    padding-top: 29px;
    box-sizing: border-box;

    border-radius: 125px;
    background: #009688;
}
.cc-rockmenu .rolling .rolling_icon:hover .rolling {
    width: 250px;
}

.cc-rockmenu .rolling a {
    color: white;
}




.cc-rockmenu .rolling i {
    font-size: 30px;
    line-height: 23px;
}
.cc-rockmenu .rolling span {
    display: block;
    padding-top: 22px;

    font-size: 20px;

    color: #009688;
}
.cc-rockmenu .rolling li {
    display: inline-block;

    font-size: 13px;
    list-style: outside none none;
}
.cc-rockmenu .rolling li a {
    padding-right: 5px;

    text-decoration: none;

    color: #f15e2a;
}
.cc-rockmenu .rolling li a:hover {
    color: #8dc73f;
}



.cc-rockmenu .rolling p {
    margin: 0;
}

.cc-rockmenu .rolling input[type="text"] {
    width: 175px;
    height: 35px;
    padding: 10px;
    margin: 9px 0;

    color: #fff;
    border: medium none;
    background: #bbae79 none repeat scroll 0 0;
}
.cc-rockmenu .rolling input[type="submit"] {
    padding: 9px;

    color: #fff;
    border: medium none;
    background: #6a5502 none repeat scroll 0 0;
}

/* Rolling Animated Menu*/
.rollingAnimated ul {
    display: inline-block;
    height: 50px;
    padding: 0;
    margin: 0;
    overflow: hidden;

    text-align: center;
}

.rollingAnimated ul li {
    float: left;
    margin: 0 25px 0 0;

    list-style: none;
}

.rollingAnimated a {
    display: inline-block;
    margin-top: 0;

    font-family: "Lato",Arial,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 65px;

    transition: all .3s cubic-bezier(.1, .1, .5, 1.4) 0s;
    text-decoration: none;
    letter-spacing: 0;
    text-transform: uppercase;

    color: #fff;
}

.rollingAnimated a:hover {
    margin-top: -65px;
}

.rollingAnimated a:after {
    display: block;

    content: attr(data-text);

    color: #11decd;
}

/* Dropdown*/



div.cs-select {
    position: relative;
    z-index: 100;

    display: inline-block;
    width: 100%;
    max-width: 500px;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: left;
    vertical-align: middle;

    background: #fff;

     -khtml-user-select: none;
    -webkit-touch-callout: none;
}

div.cs-select:focus {
    outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
    display: none;
}

.cs-select span {
    position: relative;

    display: block;
    padding: 10px;
    overflow: hidden;

    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Placeholder and selected option */


.cs-select > span::after,
.cs-select .cs-selected span::after {
    position: absolute;
    top: 50%;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    speak: none;
}

.cs-select > span::after {
    right: 1em;

    content: "\25BE";
}

.cs-select .cs-selected span::after {
    margin-left: 1em;

    content: "\2713";
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
    z-index: 200;
}

/* Options */
.cs-select .cs-options {
    position: absolute;

    visibility: hidden;
    width: 100%;
    overflow: hidden;

    background: #fff;
}

.cs-select.cs-active .cs-options {
    visibility: visible;
}

.cs-select ul {
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
}

.cs-select ul span {
    padding: 1em;
}

.cs-select ul li.cs-focus span {
    background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}
